# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/
.history/

# Environment
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid
*.seed
*.pid.lock

# Qdrant Docker volume (do not track local DB data)
jobyaari_qdrant_storage/

# Pytest
.cache/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage
htmlcov/
.coverage
.coverage.*

# Other
*.sqlite3
*.db
*.bak
*.swp
*.swo